extends layout

block content
  center
    h1= title
    p #{slogan}
    br
    form(action="/", method="POST")
      input(type="text", name="query", size="60", placeholder="Nama barang yang akan disewa")
      input(type="submit", value="cari")
